.listWrapper {
    max-width: 46rem;
    margin: 4rem auto;

}

.listWrapper header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.taskCount span {
    color: var(--blue-500);
    font-weight: 700;
    font-size: 0.875;
    line-height: 1.1rem;
    margin-right: 0.5rem;
}

.taskCount button,
.taskFinished button {
    font-size: 14px;
    background-color: var(--gray-400);
    color: var(--gray-100);
    border: none;
    padding: 2px 8px;
    border-radius: 999px;
}

.taskFinished span {
    color: var(--purple-600);
    font-weight: 700;
    font-size: 0.875;
    line-height: 1.1rem;
    margin-right: 0.5rem;
}

.noTasks {
    border-top: 1px solid var(--gray-400);
    height: 15.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sla {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noTasks .text {
    max-width: 43rem;
    margin: 1rem auto;
}

.noTasks p {
    color: var(--gray-300);
    font-weight: 700;
    line-height: 140%;
}

.noTasks span {
    color: var(--gray-300);

}